*{
	padding: 0;
	margin: 0;
	border:0;
	font-family: 'Lato';
}
.contenedor{
    background-image: url(banner.jpeg);
    height: 560px;
    background-position: 50% 30%;
    background-size: cover;
    background-repeat: no-repeat;
    text-align: center;
}

.contenedor_fondo{
	height: -webkit-fill-available;
    background: linear-gradient(to left,rgb(46,191,145,0.8),rgb(131,96,195,0.8));
}

nav{
    position: relative;
    left: 13%;
    display: inline-block;
    text-transform: uppercase;
}
nav li{
	display: inline-block;
	margin: 10px;
	position: relative;
	top: 77px;
	font-size: 19px;
	text-transform: uppercase;
}

nav a[href]{
	text-decoration: none;
	color: white;
}

nav li:first-child a{
	color: #fff77c;
	border-top: 4px solid #fff77c;
	padding-top: 15px;
}

figure{
	width: 180px;
	float: left;
}

figure img{
	position: relative;
	left: 86px;
}

div [class="Agencia"]  p{
    position: relative;
    top: 35px;
}
.Agencia{
    position: relative;
	top: 21%;
    right: 7%;
}

.Agencia>h2{
	font-size: 108px;
	color: white;
	position: relative;
    top: 32px;
}

.Agencia li{
    display: inline-block;
    position: relative;
    top: 68px;
    font-size: 20px;
}

.Agencia li+li{
	left: 10%;

}

.Agencia li a{
	text-transform: uppercase;
	background: #fff77c;
	padding: 20px;
	border: 2px solid ;
	transition:all 1s;
	border-radius: 33px;
	text-decoration: none;
}

.Agencia li a[id="Servicios"]:hover{
	background: none;
	color:#fff77c;
}

#Contactar{
	color:rgb(131,96,195);
}
div[class="grisiento"]>h2{
    text-align: center;
    position: relative;
    top: 45px;
    text-transform: uppercase;
}

.grisiento{
	width: 100%;
	height:500px;
	background: #ECEFF1;
}

.Cuadros{
	display: inline-block;
    position: relative;
    left: 11%;
    top: 54px;
    background: white;
    height: 355px;
    width: 300px;
    margin: 10px 22px;
    box-shadow: -2px 0px 3px rgb(144,164,174);
    text-align: center;
}


.Cuadros_img{
	width: 67%;
	margin: auto;
}

.Cuadros_img img{
	width: 200px;
    position: relative;
    top: 20px;
}

.Cuadros h2{
	color: rgb(131,96,195)
}

.Cuadro_texto{
    position: relative;
    top: 47px;
}

#central{
	height: 200px;
}

article>h1{
    font-size: 47px;
    position: relative;
    top: 40%;
    left: 8%;
}